* {
  box-sizing: border-box;
}
body {
    font-family: "Lucida Grande";
    background-image: linear-gradient(#,#);
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a {
  text-decoration: none;
}

.header {
    height: 200px;
    max-width: 1000px;
    margin-left:0%;
    margin-right:0%;
}
.header img{
    margin-left: 50px;
    margin-top: 50px;
    
}
.header h1{
    font-family: cursive;
    font-size: 30px;
    padding-left: 90px;
    margin-top:0%;
    color:red;
    
}
.main{
    font-family: Calibri;
    font-size: 50px;
    margin-top:0%;
    color:darkslategrey; 
    text-align: center;
}

.navbar{
    display: inline-block;
    font-family:Candara;
    font-size: 20px;
    text-align: center;
    word-spacing: 100px;
    width:130%;
    background-color: darkseagreen;
}
 #home :hover{
    font-weight: bolder;
    color: darkblue;
    font-size: 22px;
}
 #tips :hover{
    font-weight: bolder;
    color: darkblue;
    font-size: 22px;
}
 #quiz :hover{
    font-weight: bolder;
    color: darkblue;
    font-size: 22px;
}
 #about :hover{
    font-weight: bolder;
    color: darkblue;
    font-size: 22px;
}


 #course :hover{
    font-weight: bolder;
    color: darkblue;
     font-size: 22px;
}

.logo{
    height: 150px;
    width: 200px;
    margin-left: 0 auto; 
    margin-top: 10px;
    display: flex;
}

ul{
list-style-type: none;  
background-color: beige;
padding:20px;
}
ul li {
padding-left: 30px;
display:inline-block;

    
}
ul li a{
text-decoration: none;    
color: black;

}
.table{
    text-align: center;
    margin: auto;
    padding: 20px;
    border-spacing:50px;
    
    
    
}
.table td{
    text-align: center;
    margin: auto;
    padding: 20px;
    border:1px solid green;
    border-radius: 50px;
    background-color: #1212;
    height:0px;
    width:0px;
    color:black;
}
.table td:hover{
    background-color: #1213;
}
.table b{
    color:indigo;
    font-size:27px;
}
.table a{
    float:right;
    text-decoration-line: underline;
    color:crimson;
}
.footer{
    background-color:azure;
}
.footer h3{
    font-family: cursive;
    padding-left: 90px;
    font-size: 27px;
    padding-top: 30px;
}
.footer ul{
background-color:azure;
}
.footer ul li {
margin-top: 10px;
padding-left: 70px;
padding-top: 5px;
    font-size:17px;

    
}
.footer ul li a{    
color: blue;
    

}