body{
 background-image: linear-gradient(#fcba,#abe);
}
.lesson1 {
    width:80%;
    margin-top: 30px;
    font-size: 20px;
    color: midnightblue;
    padding-left:30px;
    
}
.lesson2 {
    width:80%;
    margin-top: 30px;
    font-size: 20px;
    color: midnightblue;
    padding-left:30px;
    
}

.text-contents {
  width: 80%;
  margin-top: 15px;
  font-size: 20px;
  color: midnightblue;
    padding-left:10px;
    font-family: cursive;
    text-align: left;

}
#box{
    font-family: cursive;
    margin:0 auto;
    padding: 50px 150px 50px 150px;
    border-radius: 50px;
    background-color: cornsilk;
    font-size: 20px;
        
}
#box h3{
    color:darkblue;
}
#box p{
    color:00cc44;
}
.out{
    margin:0 auto;
    padding: 100px 150px 0px 150px;
}
.css{
    margin: auto;
    padding: 20px 20px 20px 50px;
    height: 180px;
    width: 350px;
}
.js{
    margin: auto;
    padding: 20px 20px 20px 50px;
    height: 180px;
    width: 350px;
}
.back {
    background-color:#71d253;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display:flex;
    justify-content: center;    
    margin-left: 40%;
    margin-right: 40%;
    
    
}
         
.back:hover {
    background-color: #43a09d;
}
