body{
    background-color:white;
    text-align:center;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.header h1 {
    font-family:Candara;
    background-color:#123456;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    margin-top:2%;
    border-radius:20px;
    
}
.header p{
   padding: 20px 20px 20px 20px;
    margin: 0 auto;
    color:#ff0000;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}
.header img{
	border: 0px solid #fff;
    padding: 20px 20px 20px 20px;
    border-radius:50px;
  
}
.main{
	font-size: 15pt;
    color: #1a8cff;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
    

.main h3{
    font-family:Calibri;
    background-color:#65ab12;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius:20px;
    
}
.main p{
    width: 80%;
    margin: auto;
    font-size: 20px;
    color: midnightblue;
    padding: 20px 20px 20px 20px;
    font-family: cursive;
    text-align: center;
}
.main img{  
	border: 0px solid #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
  
    
}
.footer a{
    font-size:20px;
    
}
.footer a:hover {
   color: green;
font-size: 27px;
}

a{
    
}

.back {
    background-color:#ff0000;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display:flex;
    justify-content: center;    
    margin-left: 40%;
    margin-right: 40%;
    
    
}
         
.back:hover {
    background-color: #43a09d;
}
